





Network Working Group                                   F. Baker, Editor
Request for Comments: 1812                                 Cisco Systems
Obsoletes: 1716, 1009                                          June 1995
Category: Standards Track


                 Requirements for IP Version 4 Routers

Status of this Memo

   This document specifies an Internet standards track protocol for the
   Internet community, and requests discussion and suggestions for
   improvements.  Please refer to the current edition of the "Internet
   Official Protocol Standards" (STD 1) for the standardization state
   and status of this protocol.  Distribution of this memo is unlimited.

PREFACE

   This document is an updated version of RFC 1716, the historical
   Router Requirements document.  That RFC preserved the significant
   work that went into the working group, but failed to adequately
   describe current technology for the IESG to consider it a current
   standard.

   The current editor had been asked to bring the document up to date,
   so that it is useful as a procurement specification and a guide to
   implementors.  In this, he stands squarely on the shoulders of those
   who have gone before him, and depends largely on expert contributors
   for text.  Any credit is theirs; the errors are his.

   The content and form of this document are due, in large part, to the
   working group's chair, and document's original editor and author:
   Philip Almquist.  It is also largely due to the efforts of its
   previous editor, Frank Kastenholz.  Without their efforts, this
   document would not exist.

