E.3.2 The Variant Router Requirements Algorithm

      Some Router Requirements Working Group members have proposed a
      slight variant of the algorithm described in the Section
      [5.2.4.3].  In this variant, matching the type of service
      requested is considered to be more important, rather than less
      important, than matching as much of the destination address as
      possible.  For example, this algorithm would prefer a default
      route that had the correct type of service over a network route
      that had the default type of service, whereas the algorithm in
      [5.2.4.3] would make the opposite choice.

      The steps of the algorithm are:

      1.  Basic match
      2.  Weak TOS
      3.  Longest match
      4.  Best metric
      5.  Policy

      Debate between the proponents of this algorithm and the regular
      Router Requirements Algorithm suggests that each side can show
      cases where its algorithm leads to simpler, more intuitive routing
      than the other's algorithm does.  This variant has the same set of
      advantages and disadvantages that the algorithm specified in
      [5.2.4.3] does, except that pruning on Weak TOS before pruning on
      Longest Match makes this algorithm less compatible with OSPF and
      Integrated IS-IS than the standard Router Requirements Algorithm.

