5.  Conformance Requirements

   To conform to this specification, an implementation MUST support all
   of its aspects.  The Keyed MD5 authentication algorithm MUST be
   implemented by all conforming implementations. MD5 is defined in
   RFC-1321.  A conforming implementation MAY also support other
   authentication algorithms such as Keyed Secure Hash Algorithm (SHA).
   Manual key distribution as described above MUST be supported by all
   conforming implementations. All implementations MUST support the



Baker & Atkinson            Standards Track                     [Page 9]

RFC 2082                RIP-2 MD5 Authentication            January 1997


   smooth key rollover described under "Key Change Procedures."

   The user documentation provided with the implementation MUST contain
   clear instructions on how to ensure that smooth key rollover occurs.

   Implementations SHOULD support a standard key management protocol for
   secure distribution of RIP-2 Authentication Keys once such a key
   management protocol is standardized by the IETF.

